
div {
    background-color: rgb(23, 19, 21);
    margin: 2px;
    padding: 70px;
    border: 10px;

}
p{
    color: bisque;
    border: 5px brown hsl(0, 20%, 30%);
}
pre{
    color: bisque
}

h1,h2,h3{
    color: azure;
}